/* - root -*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
   
}
                                    /*---------- header ----------*/

/*--- header all---*/
nav{
    padding: 0 1%;
    align-content: center;
}

.download-button-nav{
    width: 25%;
    height: 90%;
    background-color: #5956E9;
    border: none;
    border-radius: 5px;
    color:#ffffff;
    font-weight: 500;
    padding: 0 1%;
    display: flex;
    justify-content: center;
}

.download-button-nav h3{
    font-weight: 400;
    width: 100%;
}

.logo-nav-container{
    background-color: #ffffff;
    width: 30%;
    max-width: 220px;
    position: relative;
    height: 130%;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px 1px #232233;
}

.logo-nav-container img{
    width: 90%;
    height: 100%;
}
/*--- cellphone and tablets ---*/
@media screen and (max-width: 768px) and (min-width:0px){

    body{
        margin: 0;
    }

    header{
        background-color: #5956E9;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    nav{
        background-color: #fff;
        height: 80%;
        width: 95%;
        display: flex;
        border-radius: 5px;
        justify-content: space-between ;
        flex-wrap: wrap;
        position: relative;
        padding: 0, 1%;
        align-items: center ;
    }

    a{
        text-decoration: none;

    }

    ul, ol{
        list-style: none;
    }

    .contac-header-container{
        display: none;
        overflow: hidden;
    }

    .menu-hamburguesa{
        display: none;
    }

    .menu-hamburguesa:checked + .nav-ul{
        height: 150px;
        width: 30%;

    }

    .list-icon-nav{
        cursor: pointer;
    }

    .nav-ul{
        background-color: white;        
        border-radius: 5px;
        width: 30%;        
        height: 0;
        position: absolute;
        top: 90%;
        left: 0;
        height: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10%;
        margin: 0;
        padding: 0;

        transition: all .3s;
        overflow: hidden;
    }

    .label-hamburguer-nav{
        width: 15%;
    }
}

/*--- computers ---*/

@media screen and (max-width: 1440px) and (min-width: 769px) {
    

    body{
        margin: 0;
    }

    header{
        background-color: blueviolet;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    nav{
        background-color: #fff;
        height: 80%;
        width: 90%;
        display: flex;
        border-radius: 5px;
        justify-content: space-between ;
        flex-wrap: wrap;
        position: relative;
        padding: 0 3%;
        align-items: center ;
        margin-bottom: 5%;
    }

    a{
        text-decoration: none;

    }

    ul, ol{
        list-style: none;
    }

    .contac-header-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #FFFFFF;
        padding: 1%;
    }

    .social-icons{
        display: flex;
        gap: 50%;
    }

    .list-icon-nav{
        display: none;
    }

    .menu-hamburguesa{
        display: none;
    }
}
/* --- main --- */

.hero-section{
    padding: 40% 0;

}

.frame-info-container{
    width: 80%;
    background-color: none;
    border: 10px solid #ffffff30;
    padding: 7% 0;
}

.info-app-container{
    position: relative;
    right: 30px;
}

.info-app-container h2{
    color: #5956E9;
    font-weight: 500;
}

.info-app-container h8{
    color: #6C6C72;
    font-weight: 400;
}

.info-app-container h5{
    font-weight: 600;
}

.image-download-hero{
    width: 40%;
}

@media screen and (max-width: 425px) and (min-width:0px){

    .hero-section{
        background-color: #5956E9;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 40px;

    }

    .info-app-container{
        background-color: #FFFFFF;
        padding: 3%;
    }

    .cellphone-hero{
        width: 90%;
        padding-left: 25%;
    }

    /*--- about section ---*/
    .about-section{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10% 0;
    }

    .about-section img{
        width: 70%;
    }

    .title-section-container{
        width: 90%;
        text-align: center;
    }

    .title-section-container h2{
        font-weight: 500;
    }
    
    .title-section-container p{
        color: #6C6C72;
        font-weight: 400;
    }

    .adv-about-container{
        width: 90%;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 #232233;
        margin: 5% 0;
        padding: 1% 3%;
    }

    .adv-about-container h3{
        font-weight: 600;
    }

    .adv-about-container p{
        color: #6C6C72;
        font-weight: 400;
    }
}