/* - root -*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
   
}
/*-- header --*/

.download-button-nav{
    background-color: #5956E9;
    border: none;
    border-radius: 5px;
    color:#ffffff;
}


/*--- general ---*/
@media screen and (max-width: 768px) and (min-width:0px){

    body{
        margin: 0;
    }

    header{
        background-color: blueviolet;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    nav{
        background-color: #fff;
        height: 80%;
        width: 90%;
        display: flex;
        border-radius: 5px;
        justify-content: space-between ;
        flex-wrap: wrap;
        position: relative;
        padding: 0, 0;
        align-items: center ;
    }

    a{
        text-decoration: none;

    }

    ul, ol{
        list-style: none;
    }

    .contac-header-container{
        display: none;
        overflow: hidden;
    }

    .menu-hamburguesa{
        display: none;
    }

    .menu-hamburguesa:checked + .nav-ul{
        height: 150px;
        width: 30%;

    }

    .list-icon-nav{
        cursor: pointer;
    }

    .nav-ul{
        background-color: white;        
        border-radius: 5px;
        width: 30%;        
        height: 0;
        position: absolute;
        top: 90%;
        left: 0;
        height: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10%;
        margin: 0;
        padding: 0;

        transition: all .3s;
        overflow: hidden;
    }
}

@media screen and (max-width: 1440px) and (min-width: 769px) {
    

    body{
        margin: 0;
    }

    header{
        background-color: blueviolet;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    nav{
        background-color: #fff;
        height: 80%;
        width: 90%;
        display: flex;
        border-radius: 5px;
        justify-content: space-between ;
        flex-wrap: wrap;
        position: relative;
        padding: 0 3%;
        align-items: center ;
        margin-bottom: 5%;
    }

    a{
        text-decoration: none;

    }

    ul, ol{
        list-style: none;
    }

    .contac-header-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        color: #FFFFFF;
        padding: 1%;
    }

    .social-icons{
        display: flex;
        gap: 50%;
    }

    .list-icon-nav{
        display: none;
    }

    .menu-hamburguesa{
        display: none;
    }
}
/* --- main --- */
