/* - root -*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
   
}
                                    /*---------- header ----------*/

/*--- header all---*/

body{
    margin: 0;
}

header{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

nav{
    background-color: #fff;
    height: 80%;
    width: 95%;
    display: flex;
    border-radius: 5px;
    justify-content: space-between ;
    flex-wrap: wrap;
    position: relative;
    padding: 0;
    align-items: center ;
    align-content: center;
}

a{
    text-decoration: none;

}

ul, ol{
    list-style: none;
}



.download-button-nav{
    width: 25%;
    height: 90%;
    background-color: #5956E9;
    border: none;
    border-radius: 5px;
    color:#ffffff;
    font-weight: 500;
    padding: 0 1%;
    display: flex;
    justify-content: center;
    margin: 2px;
}

.download-button-nav h3{
    font-weight: 500;
    width: 100%;
}

.logo-nav-container{
    background-color: #ffffff;
    width: 30%;
    height: 150%;
    left: 30%;
    padding: 0 3px;
    max-width: 150px;
    position: absolute;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 10px 1px #23223366;
}

.logo-nav-container img{
    width: 90%;
    height: 100%;
}

/*--- cellphone and tablets ---*/
@media screen and (max-width: 768px) and (min-width:0px){

    .laptop-ul{
        display: none;
    }

    .menu-hamburguesa{
        display: none;
    }

    .menu-hamburguesa:checked + .nav-ul{
        height: 150px;
        width: 30%;

    }

    .list-icon-nav{
        cursor: pointer;
    }

    .nav-ul{
        background-color: white;        
        border-radius: 5px;
        width: 30%;        
        height: 0;
        position: absolute;
        top: 90%;
        left: 0;
        height: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 10%;
        margin: 0;
        padding: 0;
        z-index: 1;

        transition: all .3s;
        overflow: hidden;
    }

    .label-hamburguer-nav{
        width: 15%;
    }
}
/*tablets*/
@media screen and (max-width: 768px) and (min-width: 426px){
    .contac-header-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        text-align: start;
        width: 95%;
        padding: 2% 0;
        color: #FFFFFF;
    }

    .contac-header-container h7{
        width: 30%;
    }

    .contac-header-container svg{
        width: 20%;
    }

    .hero-section{
        justify-content: space-evenly;
        gap: 100px 0;
        padding: 5%;
    }

    .frame-info-container{
        width: 40%;

    }

    .cellphone-hero{
        width: 40%;
    }
}

/*--- computers ---*/

@media screen and (max-width: 1440px) and (min-width: 769px) {
    

    .menu-hamburguesa{
        display: none;
    }
    
    .nav-ul{
        display: none;
    }

    .list-icon-nav{
        display: none;
    }

    .laptop-ul{
        width: 30%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        gap: 10px;
        list-style: none;
        padding: 0;
    }

    .laptop-ul2{
        width: 30%;
        display: flex;
        flex-direction: row;
        gap: 10px;
        list-style: none;
        padding: 0;
    }

    .contac-header-container{
        display: flex;
        justify-content: space-between;
        width: 90%;
        color: #FFFFFF;

    }

    .social-icons{
        display: flex;
        gap: 20px;
    }

    .hero-section{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 5%;
    }

    .frame-info-container{
        display: flex;
        width: 40%;
        height: 40%;
    }

    .cellphone-hero{
        width: 40%;
        height: 40%;
    }
}
                                        /* --- main --- */

.title-section-container h2{
    font-weight: 500;
}

.title-section-container p{
    color: #6C6C72;
    font-weight: 400;
}

/*hero section*/
.hero-section{
    display: flex;
    flex-wrap: wrap;
    padding: 3% 0 5% 0;
    background-color: #5956E9;

}
.info-app-container{
    background-color: #FFFFFF;
    padding: 3%;
}

.frame-info-container{
    background-color: none;
    border: 10px solid #ffffff30;
    padding: 3% 0;
}

.info-app-container{
    position: relative;
    height: 95%;
    right: 30px;
}

.info-app-container h2{
    color: #5956E9;
    font-weight: 500;
}

.info-app-container h8{
    color: #6C6C72;
    font-weight: 400;
}

.info-app-container h5{
    font-weight: 600;
}

.image-download-hero{
    width: 40%;
}

.title-section-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 10%;
}

/*--- about section---*/
.adv-about-container{
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #6C6C7230;
    margin: 5% 0;
    padding: 5% 5%;
    display: flex;
    flex-wrap: wrap;
}

.img-adv-container{
    width: 20%;
    height: 10%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    align-items: center;
}

.img-adv-container img{
    background-color: #5956E9;
    border-radius: 100%;
    padding: 10%;
    width: 20%;
    height: 20%;
}

.title-adv-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 100%;
    margin: 1% 0;
    gap: 10px;
}

.title-adv-container h3{
    margin: 0;
    font-weight: 500;
}

.title-adv-container p{
    margin: 0;
    color: #6C6C72;
    font-weight: 400;
    line-height: 25px;
}


/*--- features section---*/

.features-section{
    background-color: #5956E9;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 10%;
}

.title-section-container2 {
    width: 90%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 10%;
    color: #FFFFFF;
}

.title-section-container2 h2{
    font-weight: 500;
}

.title-section-container2 p{
    color: #FFFFFF;
    font-weight: 350;
}

.feat-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
}

.feat-container h3{
    width: 70%;
    font-weight: 500;
}

.feat-container p {
    color: #FFFFFF;
    width: 80%;
    font-weight: 350;
}

/*--- team section ---*/
.order-team-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
/* TO-DO parte de este estilo moverlo al @media de celular*/
.dev-container{
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 #6C6C7230;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.dev-container h3{
    margin: 20% 0 0 0;
}

.dev-container h5{
    color: #6C6C72;
    font-weight: 500;
    margin-bottom: 1%;
}

.dev-container p {
    color: #6C6C72;
    font-weight: 350;
    text-align: center;
}

.dev-container ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0%;
    gap: 10px;
    margin-bottom: 20%;
}

.dev-container li{
    width: 20%;
    display: flex;
    justify-content: center;
}

.dev-container hr{
    height: 80%;
    width: 1px;
    border: none;
    background-color: #232233;
    margin: 0;
}


.dev-img-container{
    border: 5px #5956E9 solid;
}

/*cellphone*/
@media screen and (max-width: 425px) and (min-width:0px){

    .contac-header-container{
        display: none;
        overflow: hidden;
    }

    .hero-section{
        gap: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .frame-info-container{
        width: 80%;
    }

    .cellphone-hero{
        width: 90%;
    }

    /*--- about section ---*/
    .about-section{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 10% 0;
    }

    .about-section img{
        width: 30%;
    }

    /*--- features section---*/

    .order-feat-container{
        width: 100%;
        overflow: hidden;
    }
    
    /*--- team section ---*/


}


/*tablets and pcs*/
@media screen and (max-width: 1440px) and (min-width:768px){

    .about-section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding: 10% 0;
    }

    .about-section img{
        width: 40%;

    }

    .order-about-container{
        width: 40%;
    }

    .img-adv-container{
        height: 50%;
    }

    /*--- features section ---*/
    .features-section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }


    .order-feat-container{
        height: 360px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
    }

    .img-feat{
        width: 30%;
    }

    .feat-container h3, p{
        margin: 10px;
    }
    /*--- team section ---*/
}


                                            /*--- footer ---*/




.contact-section{
        padding-top: 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-self: center;
        width: 90%;
        position: relative;
        top: 150px;
        z-index: 1;
        background-color: #ffffff;
        border: none;
        border-radius: 10px;
        box-shadow: 0 0 10px 1px #23223355;
    
    }
    
    .contact-container{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-top: 5%;
    }
    
    .icon-container{
        display: flex;
        align-self: center;
        padding: 20px;
        background-color: #5956E9;
        border-radius: 100%;
    }
    
    .contact-icon{
        color: #FFFFFF;    
    }
    
    .contact-section h2{
        width: 100%;
        font-weight: 500;
    }
    
    .contact-section hr{
        background-color: #232233;
        border: none;
        width: 100%;
        height: 4px;
        margin: 0 20%;
    }
                                            
footer{
    background-color: #232233;
    color: #FFFFFF;
    gap: 20px;


}

footer p{
    font-weight: 350;
}

.logo-footer-container ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    width: 80%;
    gap: 5%;
}

.logo-footer-container li{
    display: flex;
    justify-content: center;
    width: 20%;
}

.logo-footer-container hr{
    margin: 0;
    width: 2px;
    display: flex;
    align-items: center;
    border: none;
    background-color: #FFFFFF;
}

.links-footer-container{
    list-style: none;
    padding: 0;

}

.letter-search-container{
    background-color: #FFFFFF;
    display: flex;
    padding: 1px;
    border-radius: 5px;
    height: 40px;
    margin-top: 40px;
}

.letter-search-container input{
    width: 80%;
    border: none;
    border-radius: 5px;
    padding-left: 5%;
    font-family: "Josefin Sans", sans-serif;
}

.letter-search-container button{
    width: 20%;
    border: none;
    border-radius: 5px;
    background-color: #5956E9;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.copy-footer-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}

.copy-footer-container hr{
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    border: none;
}


.copy-footer-container p{
    text-align: center;
    font-weight: 200;
}

.copy-footer-container svg{
    padding: 10px;
}

@media screen and (max-width: 425px) and (min-width:0px){
    
    
    footer{
        display: flex;
        flex-direction: column;
        padding: 50% 5% 5% 5%;
    }

}